<h2 mat-dialog-title class="dialog-title">
  {{ mode === 'create' ? 'Add New System Version' : 'Edit System Version' }}
</h2>

<mat-dialog-content class="dialog-content">
  <br>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-grid">
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" required>
          <mat-option *ngFor="let type of versionTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('type')?.hasError('required')">
          Type is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="form.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Version</mat-label>
        <input matInput formControlName="version" required>
        <mat-error *ngIf="form.get('version')?.hasError('required')">
          Version is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Path</mat-label>
        <input matInput formControlName="path" required>
        <mat-error *ngIf="form.get('path')?.hasError('required')">
          Path is required
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-stroked-button color="warn" (click)="onCancel()">
    <mat-icon>cancel</mat-icon> Cancel
  </button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">
    <mat-icon>{{ mode === 'create' ? 'add' : 'save' }}</mat-icon>
    {{ mode === 'create' ? 'Create' : 'Update' }}
  </button>
</mat-dialog-actions>
