<div class="container">
  <div class="header">
    <h2>
      <mat-icon color="primary">cloud</mat-icon>
      &nbsp;Deployments
    </h2>

  </div>

  <div class="global-spinner-overlay" *ngIf="isDeploying">
    <div class="spinner-content">
      <mat-progress-spinner mode="indeterminate" diameter="60" color="primary"></mat-progress-spinner>
      <p>Deploying application...</p>
    </div>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="deployments" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#ID</th>
        <td mat-cell *matCellDef="let d">
          <mat-icon class="icon-cell">fingerprint</mat-icon> {{ d.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef>Version</th>
        <td mat-cell *matCellDef="let d">
          <mat-icon class="icon-cell">tag</mat-icon> {{ d.version }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let d">
          <mat-chip
                        [ngClass]="{
                'status-chip-running': d.status === 'RUNNING',
                'status-chip-stopped': d.status === 'STOPPED',
                'status-chip-default': d.status !== 'RUNNING' && d.status !== 'STOPPED'
              }"
                        selected
                      >
              <span class="chip-content">
                <mat-icon class="chip-icon">
                  {{ d.status === 'RUNNING' ? 'check_circle' : d.status === 'STOPPED' ? 'cancel' : 'help' }}
                </mat-icon>
                {{ d.status }}
              </span>
          </mat-chip>
        </td>
      </ng-container>


      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef>Branch</th>
        <td mat-cell *matCellDef="let d">
          <mat-icon class="icon-cell">call_split</mat-icon> {{ d.branch }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created At</th>
        <td mat-cell *matCellDef="let d">
          <mat-icon class="icon-cell">calendar_today</mat-icon> {{ d.createdAt | date:'medium' }}
        </td>
      </ng-container>

      <!-- Time taken -->
      <ng-container matColumnDef="timeTaken">
        <th mat-header-cell *matHeaderCellDef>Time Taken</th>
        <td mat-cell *matCellDef="let d">
          <mat-icon class="icon-cell">timer</mat-icon> {{ d.timeTaken }} (s)
        </td>
      </ng-container>

      <ng-container matColumnDef="typeInfo">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let d">
          <ng-container *ngIf="d.type === 'CURRENT' && deploymentStatuses[d.id]?.isRunning; else typeContent">
      <span class="status-badge running">
        <span class="status-main">
          <mat-icon class="status-icon">check_circle</mat-icon>
          Running
        </span>
        <small class="status-meta">
          PID: {{ deploymentStatuses[d.id].pid }} |
          Port: {{ deploymentStatuses[d.id].port }}
        </small>
      </span>
          </ng-container>
          <ng-template #typeContent>
      <span class="status-badge" [ngClass]="{ 'latest-badge': d.type === 'LATEST' }">
        <mat-icon class="status-icon">
          {{ d.type === 'LATEST' ? 'new_releases' : 'info' }}
        </mat-icon>
        {{ d.type || 'N/A' }}
      </span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let d">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="danger-action" (click)="rollbackDeployment(d)">
              <mat-icon>undo</mat-icon>
              <span>Rollback</span>
            </button>
            <button mat-menu-item (click)="downloadLogFile(d.logsPath)" [disabled]="!d.logsPath">
              <mat-icon>download</mat-icon>
              <span>Download Logs</span>
            </button>
            <button mat-menu-item (click)="openNotesDialog(d)">
              <mat-icon>note</mat-icon>
              <span>Notes</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [class.blink-highlight]="row.id === highlightedId">
      </tr>
    </table>

    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
