<h1 mat-dialog-title>Application Stats</h1>

<div mat-dialog-content class="stats-content">

  <div mat-dialog-content class="stats-content">

    <mat-card class="info-banner">
      <mat-icon color="warn">warning</mat-icon>
      <span>Stats are only available for the last 24 hours.</span>
    </mat-card>

    <ngx-charts-line-chart
      *ngIf="stats?.length"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Time'"
      [yAxisLabel]="'Value'"
      [autoScale]="true"
      [timeline]="true"
      [xAxisTickFormatting]="formatXAxis"
      [tooltipDisabled]="false"
      [animations]="true"
      class="stats-chart">
    </ngx-charts-line-chart>
  </div>

</div>
